:root{
    scroll-behavior: smooth;

}

[data-bs-theme="dark"]{ 
    --bs-body-color: #e8e8e8 !important ;
    --bs-body-color-rgb: 221,221,221;
    --bs-body-bg: #101112 !important;
    --bs-body-bg-rgb: 33,37,41;
}

.table td{
 padding: 1rem;
 margin: 0;
 display: table-cell;
 text-align: center;
}
.table th{
    text-align: center;
}
.table td:hover{
    
    box-shadow:inset 0 0 0 1px #ccc;
    text-align: center;
}

.selected{
    box-shadow: inset 0 0 0 1px dodgerblue !important;
}

.text-body-secondary{
    opacity: 0.5;
}
.date{
 display: flex;
 flex-direction: column;
 row-gap: 0.25rem;
 align-items: center;
}
.animate-up{
    animation:moveup 0.15s ease-in;
}
.animate-down{
    animation: moveup 0.15s ease-out;
    animation-direction: reverse;
}
.calendar-event{
   max-width: 100%;
}

.pr-5{
    padding-right: 1rem !important;
}
.badge{
    min-width:0.12rem !important;
}

@media (max-width: 576px) {
    .badge{
        padding-right: 0.0rem !important;
        padding-left: 0.0rem !important;
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
        width: 0.5rem !important;
        height: 0.25rem !important;
        overflow: hidden !important;
        color: transparent !important;

    }
}

@media (min-width: 576px) {
    .offcanvas.show{
        resize: horizontal;
        width:40vw;
    }
}


#note-display img{
    width: 100%;
    height: auto;
}

/* #note-display pre::after{
    content: 'run code';
    padding: 0.5rem;
    border:1px solid #ccc
} */


.dragging{
   border:1px solid var(--bs-primary);
}

@keyframes moveup {
    0%{
        transform: translateY(-100%)  rotateX(-150deg);
    
    }
    100%{
        transform: translateY(0%) rotateX(0deg);
    }
    
}

